<!--preloading-->
<div id="preloader">
    <img class="logo" src="${static_domain}/client/images/logo1.png" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->
<!-- BEGIN | Header -->
<header class="ht-header" style="position: unset;">
    <div class="container">
        <nav class="navbar navbar-default navbar-custom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header logo">
                <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <div id="nav-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <a href="${app_domain}/"><img class="logo" src="${static_domain}/client/images/logo1.png" alt="" width="119" height="58"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav flex-child-menu menu-left">
                    <#list list_cate_film as cateFilm>
                        <li><a class="<#if cateFilm.id==id_cate>active</#if>" href="${app_domain}/the-loai?id=${cateFilm.id}">${cateFilm.name} </a></li>
                    </#list>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <!-- top search form -->
        <form action="${app_domain}/">
            <div class="top-search">
                <input name="query" value="${query}" type="text" placeholder="Tìm tên phim...">
            </div>
        </form>
    </div>
</header>
<!-- END | Header -->