<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">

<head>
    <!-- Basic need -->
    ${header_include}
</head>

<style>
    .more-content {
        display: none;
        color: white;
    }
    
    button {
        margin-top: 15px;
        display: block;
        background-color: #e41d3f;
        color: white;
        border: none;
        outline: none;
        padding: 8px 20px;
        text-transform: capitalize;
        cursor: pointer;
        font-size: 20px;
    }
</style>

<body>
    <!--preloading-->
    ${header_menu}
    <!-- END | Header -->

    <div class="hero">
    </div>
    <div class="page-single movie-single movie_single">
        <div class="container">
            <div class="row ipad-width2">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="movie-img">
                        <img src="${film_by_id.poster}" alt="">
                        <div class="movie-btn">
                            <div class="btn-transform red">
                                <div>
                                    <a target="_blank" href="${film_by_id.trailer}" class="item item-1 redbtn"> <i class="ion-play"></i> Xem Trailer</a>
                                </div>
                            </div>
                            <div class="btn-transform">
                                <div>
                                    <a target="_blank" href="${film_by_id.linkWatch}" class="item item-1 yellowbtn"> <i class="ion-card"></i> Xem phim</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="movie-single-ct main-content">
                        <h1 class="bd-hd">${film_by_id.title}</h1>
                        <div class="movie-tabs">
                            <div class="tabs">
                                <ul class="tab-links tabs-mv">
                                    <li class="active"><a href="#overview">Nội dung phim</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="overview" class="tab active">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-12 col-xs-12" style="text-align: justify;">
                                                <span style="color: white;">${film_by_id.content?substring(0,900)}</span>
                                                <span style="color: white;" class="dots">...</span>
                                                <span class="more-content">
                                                    ${film_by_id.content?substring(900)}
                                                </span>
                                                <button class="read-more redbtn">Xem thêm</button>
                                            </div>
                                            <div class="col-md-4 col-xs-12 col-sm-12">
                                                <div class="sb-it">
                                                    <h6>Thể loại:</h6>
                                                    <p><a href="#">${film_by_id.category}</a></p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Ngày khởi chiếu:</h6>
                                                    <p>${film_by_id.openDay}</p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Thời lượng:</h6>
                                                    <p>${film_by_id.duration}</p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Đạo diễn:</h6>
                                                    <p>${film_by_id.director}</p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Đất nước:</h6>
                                                    <p>${film_by_id.country}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer section-->
    <footer class="ht-footer">
        <div class="ft-copyright">
            <div class="ft-left">
                <p>© Do Thi Bich Ngan</p>
            </div>
            <div class="backtotop">
                <p><a href="#" id="back-to-top">Lên trên  <i class="ion-ios-arrow-thin-up"></i></a></p>
            </div>
        </div>
    </footer>
    <!-- end of footer section-->

    ${footer_include}
</body>
<script>
    $(document).ready(function() {
        $(".read-more").click(function() {
            $(this).prev().toggle();
            $(this).siblings('.dots').toggle();
            if ($(this).text() == 'Xem thêm') {
                $(this).text('Thu gọn');
            } else {
                $(this).text('Xem thêm');
            }
        });
    });
</script>

</html>